@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@200;400;700&family=Lilita+One&family=Poppins:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2? family= M+PLUS+Rounded+1c:wght@400;500;800 & display=swap');


/*Tipografia anterior #3
font-family: 'Chivo', sans-serif; 200
font-family: 'Lilita One', cursive; 400
font-family: 'Poppins', sans-serif; 700
familia de fuentes: 'M PLUS Redondeado 1c', sans-serif; 400,500,800
 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --color_primario: #5c3c97;
    --color_texto: white;
    --color_texto2: #352F44;
    --color_texto3: #5C5470;
    
}

.menu{
    display: flex;
    background-color: var(--color_primario);
    color: var(--color_texto);
    font-family: 'Poppins', sans-serif;
    height: 60px;
    align-items: center;
    justify-content: space-between;  
    /* position: sticky;
    top: 0; */
    /* box-shadow: 7px 13px 50px var(--color_primario); */
}
.menu_items{
    /* border: 1px solid red;  */
    padding: 6px 7px;
    background-color: var(--color_texto);
    border-radius: 50px;
}
.menu_items a{
    color: var(--color_primario);
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 600;
    text-decoration: none;
    margin: 0 3px;
    padding: 3px 12px;
    transition: 0.5s;
}

.menu_items a:hover{
    transform: scaleY(1.2);
    background-color: var(--color_primario);
    color: var(--color_texto);
    border-radius: 70px;
    transition: all ease;
}

.logo{
    background-image: url(../Medios/log002.png);
    /* border: 1px solid burlywood; */
    height: 60px;
    width: 160px;
    background-position: center;
    background-size: cover;

}
.buscar{
    display: flex;
    position: absolute;
    transform: translate(950px);
}


.btn{
    position: absolute;
    width: 35px;
    height: 35px;
    margin-top: -2px;
    border-radius: 50%;
    background-color: var(--color_primario);
    transition: .5s ;
    cursor: pointer;
    border: 1px solid var(--color_texto);
    /* transform: translateX(130px); */
}

.btn:hover{
    background-color: var(--color_texto);
    border: 1px solid var(--color_primario);
    
}
.lupa img{
    height: 25px;
    margin-left: 5px;
    margin-top: 4px;
    border-radius: 40px;
    transition: all .7s ease;
    transform: rotate(90deg);
}


.buscar input{
    border-radius: 40px;
    outline: none;
    box-sizing: border-box;
    width: 150px;
    height: 30px;
    border: none;
    font-size: 16px;
    padding-left: 40px;
    /* display: none; */
}
::placeholder{
    color: gray;
    font-size: 15px;
    transform: translate(50px);
    
}

.buscar:hover input{
    width: 150px;
    /* padding-left: 40px; */

}
.btn:hover img{
    transform: rotate(-270deg);
    
}

.menu .login{
    display: flex;
    padding: 0px 15px;
    font-size: 15px;
    overflow: hidden;
}
.menu .login a{
    color: var(--color_texto);
    font-size: 12px;
    
}


.login span{
    margin-left: 3px;
}
.login .registro{
    margin-left: 3px;
}
section{
    overflow: hidden;
}
.sider{
    width: 100%;
    /* height: 300px; */
    overflow: hidden;
    
}
.slider ul{
    display: flex;
    width:400%;
    animation: animacion 25s infinite alternate ease-in-out;
    margin-bottom: 20px;
    
}
.slider li{
    width: 100%;
    list-style: none;
    
}
.slider img{
    width: 100%;
}

.lineas{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
}
.linea{
    height: 3px;
    width: 50px;
    margin: 0 3px;
    /* border-color: var(--color_texto2); */
}
.bienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px 0 20px 0;
    /* border: 1px solid purple; */
}
.bienvenida p{
    font-size: 1.5em;
    color: var(--color_texto3);
    font-family:'M PLUS Redondeado 1c', sans-serif;
    width: 70%;
    /* border: 1px solid blue; */
    text-align: center;
    
}
.bienvenida .flechas{
    display: flex;
    
}
.bienvenida .flechas img{
    height: 20px;
    margin-top: 15px;
}

.cards{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.cards .card{
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 435px;
    padding: 3px;
    border: 1px groove;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    margin: 13px 7px;
}
.cards .card img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    border-radius: 15px;
    object-fit: cover;
    
}
.cards .card img:hover{
    transform: scale(1.2);
    margin-left: 15px;
}

.title_product{
    font-family: 'Poppins', sans-serif;
    color: var(--color_primario);
    font-size: 1.5em;
    margin-top: 60px;
}
.productos_destacados{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 5px 0px;
    margin: 25px 0px ;
    overflow: hidden;
    
    
}
.productos_destacados .productos{
    width: 180px;
    height: 360px;
    margin: 10px;
    border: 1px groove rgb(231, 229, 229);
    border-radius: 10px;
    padding: 5px 3px 10px 3px;
    text-align: center;
    margin-top: 20px;
    /* overflow: hidden; */
    transition: 0.3s;
    font-family: 'Poppins', sans-serif;
    color: var(--color_texto2);
    
}

.productos img{
    border-radius: 7px;
    width: 100%;
    height: 68%;
    border-bottom: 1px groove #d5d5d6;
}
.productos a{
    background-color: var(--color_primario);
    padding: 0 10px;
    border-radius: 5px;
    color: var(--color_texto);
    text-decoration: none;
    transition: 0.5s;
    
    
}
.productos h4{
    margin-bottom: 5px;
}
.agregar{
    transition: 0.4s;
}
.productos:hover{
    border-color: #9a7ace;
    /* transform: scale(1.1); */
    
}
.agregar:hover {
    transform: scale(1.2);
    
}
/* .productos:hover{
    opacity: 0.9;
} */

.newslatter{
    border: 1px groove;
    width: 75%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    border-color: #5c3c97;
    font-family: 'Chivo', sans-serif;
    color: var(--color_primario);
    margin-top: 60px;
    /* background-color: var(--color_primario); */
}
.newslatter span{
    color: #FFB000;
}
.newslatter .email{
    
    
}
.newslatter .email .cajaemail{
    width: 250px;
    padding: 3px 5px;
    margin-right: 5px;
    border-radius: 5px;
    border: groove;
    color: var(--color_texto2);
    /* border-color: #cececc; */
}


.newslatter .email .btnenviar{
    padding: 3px 5px;
    border-radius: 5px;
    border: groove;
    cursor: pointer;
    background-color: #efeff0;
}

form ::placeholder{
    color: #5c3c97;
    transform: translate(10px);
}


.motivos{
    font-family: 'Poppins', sans-serif;
    color: var(--color_primario);
    font-size: 1.5em;
    margin-top: 90px;
    margin-bottom: 40px;
    /* border: 1px solid brown; */
}
.todo{
    font-family: 'Poppins', sans-serif;
    color: var(--color_primario);
    font-size: 2em;
}
.seccion2{
    display: flex;
    background-color: #fbfbfc;
    padding: 20px 0;
    justify-content: space-around;
    margin-bottom: 30px;

}
.seccion2 .card{
    text-align: center;
    width: 225px;
    /* border: 1px solid green; */
}
.seccion2 .card h4{
    margin-top: 13px;
    font-family: 'Poppins', sans-serif;
    color: var(--color_texto3);

}
.seccion2 .card p{
    font-family: 'Chivo', sans-serif;
    color: var(--color_texto2);
}
.card img{
    width: 65px;
    height: 65px;
    /* border: 1px solid black; */
}


@keyframes animacion {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}

/* FOOTER */
footer{
    display: flex;
    height: 340px;
    background-color: var(--color_primario);
    margin-top: 30px;
    overflow: hidden;
    padding: 0 20px 20px 20px;
    justify-content: space-between;
}
.logoPie{
    height: 100px;
    width: 200px;
    overflow: hidden;
    background-image: url(../Medios/log002.png);
    background-position: center;
    background-size: cover;
    
    
}
.redes{
    margin-top: 10xpx;
    font-family: 'Poppins', sans-serif;
    color: #FFB000;
   
    
}
.redes img{
    margin: 10px 5px;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    border: 1px solid #cececc;
    
}
.redesp{
    width: 80%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #cececc;
    line-height: 1.3;
    margin-top: 10px;
    
}

.div1pie{
    width: 200px;
    height: 95%;
    overflow: hidden;
    
}
.div2{
    display: flex;
    height: 95%;
    /* border: 1px solid black; */
    margin-top: 20px;
    
}
footer .lista{
    height: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 20px;
    overflow: hidden;
    /* border: 1px solid black; */
    
}

.lista h3{
    font-family: 'Poppins', sans-serif;
    color:#FFB000;
    margin-bottom: 7px;
    /* width: 100%; */
    
}
.lista ul{
    margin-bottom: 10px;
    margin-right: 20px;
}
.lista ul a{
    color: #cececc;
    text-decoration: none;
    font-family: 'Chivo', sans-serif;

}
.lista ul a:hover{
    color: var(--color_texto);
}

footer .mockup{
    display: flex;
    height: 95%;
    overflow: hidden;
    border: 1px groove;
    padding: 10px;
    border-radius: 10px;
    margin-left: 70px;
}
.mockup_text h3{
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    font-size: 2.5em;
    width: 300px;
    /* color: #FFB000; */
    color: var(--color_texto);
}
.mockup_text p{
    font-family: 'Chivo', sans-serif;
    font-size: 16px;
    color: var(--color_texto);
    width: 290px;
    margin-top: 20px;
}
.mockup_text p span{
    color: #FFB000;
}
.mockup input{
    padding: 7px 10px;
    width: 120px;
    /* border-radius: 7px; */
    border-style: none;
    font-family: 'Poppins', sans-serif;
    color: var(--color_texto);
    background-color: var(--color_primario);
    animation: 0.4s;
    border-radius: 4px 60px 0 4px;

}
.mockup input:hover{
    cursor: pointer;
    background-color: #FFB000;
    color: var(--color_texto);
    
}
.mockup .estrellas{
    display: flex;
    margin-top: 10px;
    /* border: 1px solid black; */
    align-items: center;
    
}
.mockup .estrellas img{
    margin-right: 7px;
}
.mockup .piemockup{
    display: flex;
    margin-top: 30px;
    align-items: center; 
    border: 1px groove;
    border-radius: 4px;
    background-color: var(--color_texto);
    

}
.piemockup h6{
    color: var(--color_primario);
    font-family: 'Chivo', sans-serif;
    transform: translate(60px);
    /* background-color: var(--color_primario); */
    padding: 3px 5px;
    
}
.footer2{
    height: 50px;
    background-color: var(--color_primario);
    /* border: 1px solid white; */
    padding-top: 5px;
}
.footer2 p ,a{
    font-family: 'Chivo', sans-serif;
    color: #9a7ace;
    text-decoration: none;

}

@media screen and (max-width: 768px){
    .menu{
        display: flex;
        background-color: var(--color_primario);
        color: var(--color_texto);
        font-family: 'Poppins', sans-serif;
        width: 100%;
        height: 50px;
        align-items: center;
        justify-content: space-between;  
        
    }
    .buscar{
        display: none;
        
    }

    .menu_items{
        /* border: 1px solid red;  */
        padding: 3px;
        background-color: var(--color_texto);
        border-radius: 50px;
        
    }
    .menu_items a{
        color: var(--color_primario);
        font-family: 'Poppins', sans-serif;
        font-size: 1.1em;
        font-weight: 550;
        text-decoration: none;
        margin: 0 3px;
        padding: 3px 6px;
        transition: 0.5s;
        
    }
    .menu_items a:hover{
        color: var(--color_primario);
        border-radius: 10px;
        transition: all ease;
        background-color: transparent;
        text-decoration: underline;
    }
    .logo{
        background-image: url(../Medios/log002.png);
        /* border: 1px solid burlywood; */
        /* height: 50px;
        width: 140px; */
        height: 45px;
        width: 130px;
        background-position: center;
        background-size: cover;
        
    }

    .menu .login{
        display: flex;
        padding: 0px 10px;
        font-size: 13px;
        overflow: hidden;
    }
    .menu .login a{
        color: var(--color_texto);
        font-size: 16px;
    }

    /* Cards */

    .cards{
        /* border: 1px solid black; */
        display: flex;
        margin: auto;
        justify-content: space-around;
        margin-top: 30px;
        flex-wrap: wrap;
        margin-bottom: 20px;
        width: 97%;
        
    }
    .cards .card{
        display: flex;
        flex-direction: column;
        height: 200px;
        width: 340px;
        padding: 3px;
        border: 1px groove;
        border-radius: 15px;
        overflow: hidden;
        cursor: pointer;
        margin: 13px 7px;
    }

    /* newslatter */

    .newslatter{
        border: 1px groove;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 20px;
        /* border-color: #5c3c97; */
        font-family: 'Chivo', sans-serif;
        color: var(--color_primario);
        margin-top: 60px;
       
    }
    .newslatter .email .cajaemail{
        width: 250px;
        padding: 3px 5px;
        margin-right: 5px;
        margin-top: 10px;
        border-radius: 5px;
        border: groove;
        color: var(--color_texto2);
        
    }

    /* FOOTER */
    footer{
        display: flex;
        width: 100%;
        height: auto;
        background-color: var(--color_primario);
        margin-top: 30px;
        /* padding: 0 20px 20px 20px; */
        justify-content:left;
        border: 2px solid black;
    }
    .div1pie{
        width: 180px;
        height: 290px;
        align-items: center;
        /* overflow: hidden; */
        border: 2px solid rosybrown;
        margin-left: -10px;
        
    }
    .logoPie{
        height: 100px;
        width: 100%;
        overflow: hidden;
        background-image: url(../Medios/log002.png);
        /* background-position: center; */
        background-size: cover;
        background-repeat: no-repeat;
          
        
    }
    .div2{
        display: flex;
        /* flex-direction: column; */
        width: 590px;
        flex-wrap: wrap;
        height: auto;
        border: 1px solid red;
        margin-top: 20px;
        margin-left: 20px;
        overflow: hidden;
        /* display: none; */
        
    }
   
    footer .lista{
        width: 45%;
        height: 300px;
        float: left;
        /* height: 30%; */
        display: flex;
        /* flex-direction: row; */
        flex-wrap: wrap;
        margin: 0 10px;
        /* overflow: hidden; */
        border: 1px solid black;
        
    }
    footer .mockup{
        display: flex;
        width: 100%;
        /* flex-direction: column; */
        margin-top: 50px;
        height: 300px;
        overflow: hidden;
        border: 1px groove;
        padding: 10px;
        border-radius: 10px;
        margin-left: 0px;
        border: 1px solid red;

        /* display: flex;
        height: 95%;
        overflow: hidden;
        border: 1px groove;
        padding: 10px;
        border-radius: 10px;
        margin-left: 70px; */
    }

    /* FOOTER 2 */
    .footer2{
        height: 50px;
        background-color: var(--color_primario);
        /* border: 1px solid white; */
        padding-top: 5px;
        display: none;
    }

}   